# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/build/
.dart_tool/
.packages
.pub-cache/
.pub/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# macOS
.DS_Store
